.basic-wrapper,
.advanced-wrapper {
  border: 1px solid #ccc;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 52px;
  margin-bottom: 15px;
}
.basic-wrapper {
  width: 40%;
}
.advanced-wrapper {
  width: 98%;
}
.editor-container {
  height: 300px;
  /*border: 1px solid #000;*/
}

.editor-container2 {
	height: 520px;
	/*border: 1px solid #000;*/
}

.toolbar-container {
  border-bottom: 1px solid #ccc;
}
.basic-wrapper .toolbar-container {
  padding: 8px 14px;
}
.basic-wrapper .toolbar-container .ql-active,
.basic-wrapper .toolbar-container button:hover {
  color: #008000;
  font-weight: bold;
}
